.search{
  width: 300px;
  margin-top: 50px;
}

.col{
  width: 50%px;
}

.row{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.planetDetails{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center
}